



.formContainer {
    background-image: url("../assets/lettuce.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #e0e0e0;
    height: 87.9vh;
    position: relative;
    z-index: 1;
    
}

.form {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    background-color: #388e3cde;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 350px;
    width: 490px;
    flex-wrap: wrap;
    box-shadow: 0 0 15px 3px  #1d1716;
}

label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid transparent;
    color: #030305;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 9px 1px inset #1d1716;
}

input[type=text]:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 15px 3px  #1d1716;
    
}
input[type=password] {
    border: 1px solid transparent;
    color: #030305;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 9px 1px inset #1d1716;
}
input[type=password]:focus{
    box-shadow: 0 0 15px 3px  #1d1716;
   
}

input[type=date] {
    border: 1px solid transparent;
    outline: none;
    font-size: 1.2em;
    color: #020202;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 0 9px 1px inset #1d1716;
}

input[type=date]:focus {
    border: 1px solid transparent;
    outline: none;
    font-size: 1.2em;
    box-shadow: 0 0 15px 3px  #1d1716;
}

button[type=submit] {
    font-family: Arial;
    font-size: 1.2em;
    border: 1px solid transparent;
    cursor: pointer;
    background-color:#1d1716c6;
    color: #ffffff;
    padding: 5px;
    border-radius: 6px;
}
button[type=submit]:hover {
    box-shadow: 0 0 5px 1px  #1d1716;
}

input[type=submit] {
    margin-top: 15px;
    font-family: Arial;
    font-size: 1.2em;
    border: 1px solid transparent;
    cursor: pointer;
    background-color:#1d1716b0;
    color: #E9EAEC;
    padding: 5px;
    border-radius: 6px;
}
input[type=submit]:hover {
    box-shadow: 0 0 5px 1px  #1d1716;
}

h2{
    font-family: sans-serif;
}